/bin/*
!/bin/muhiyacode.js
/dist/
/coverage
/coverage.*
/*.exe
*.test
*.out
*.prof
*.log
vendor/
.DS_Store
Thumbs.db
*.tmp
*.swp
.idea/
.vscode/
tmp/

# npm wrapper artifacts
/node_modules/
/build/
.env*
*.exe~
